@charset "UTF-8";

/*================================== САЙТ ===============================*/

/*============================ ГЛАВНАЯ ===========================*/

/*======================= Стартовые настройки ====================*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #1c1c1c;
  opacity: 0.29;
  font-size: 1.13rem;
  font-weight: 400;
}

*:-moz-placeholder {
  color: #1c1c1c;
  opacity: 0.29;
  font-size: 1.13rem;
  font-weight: 400;
}

*::-moz-placeholder {
  color: #1c1c1c;
  opacity: 0.29;
  font-size: 1.13rem;
  font-weight: 400;
}

*:-ms-input-placeholder {
  color: #1c1c1c;
  opacity: 0.29;
  font-size: 1.13rem;
  font-weight: 400;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #fff;
}

body input:required:valid,
body textarea:required:valid {
  color: #fff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  color: #1c1c1c;
  font-family: "sf_ui_display", sans-serif;
  font-weight: normal;
  overflow-x: hidden;
  background: #fff;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'sf_ui_displayheavy';
}

h1,
.h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -1.5px;
  line-height: 3.8rem;
}

h2,
.h2 {
  font-size: 2.5rem;
}

h3,
.h3 {
  font-size: 2.4rem;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 2rem;
  font-weight: bold;
}

h5,
.h5 {
  font-family: "sf_ui_display", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
}

h6,
.h6 {
  font-size: 1rem;
  color: #1c1c1c;
  font-weight: 800;
}

a:hover {
  text-decoration: none;
}

button,
input,
select,
a {
  border: none;
  outline: none;
  cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus,
select:active,
select:focus,
a:active,
a:focus {
  border: none;
  outline: none;
}

.slick-slide,
.slick-active,
.slick-current {
  outline: none;
}

/*==============================ADD CLASS==============================*/

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

.button {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  padding-top: 5px;
  height: 35px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  -webkit-border-radius: 22px;
  border-radius: 22px;
  background: #000;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s;
  -o-transition: color .3s;
  transition: color .3s;
}

.button:hover {
  color: #e6e6e6;
}

.button:active rgba(0, 0, 0, 0.5) {
  outline: none;
}

.button:focus {
  outline: none;
}

/*============================ HEADER ===========================*/

.header {
  padding-top: 70px;
  background: #000;
  color: #fff;
}

.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.header__logo-text {
  margin-left: 6px;
  margin-top: 4px;
  color: #ffffff;
  font-size: 0.65rem;
  font-weight: 700;
  letter-spacing: 1.9px;
  text-transform: uppercase;
}

.header__logo:hover .header__logo-text {
  color: #fff;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__nav-burger {
  display: none;
}

.header__nav-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item {
  margin: 0 30px;
}

.header__nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.2px;
}

.header .button {
  width: 195px;
  background: -webkit-linear-gradient(350deg, #fc9b34 0%, #ec861a 100%);
  background: -o-linear-gradient(350deg, #fc9b34 0%, #ec861a 100%);
  background: linear-gradient(100deg, #fc9b34 0%, #ec861a 100%);
}

.header .button p {
  margin-top: 3px;
  margin-left: 5px;
}

.header__slidecontrol {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 100px;
}

.header__arrow {
  margin: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  opacity: 0.4;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  cursor: pointer;
}

.header__arrow:hover {
  opacity: 0.7;
}

.header__row {
  position: relative;
  padding-bottom: 210px;
}

.header__row-current {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  top: 320px;
  left: 375px;
  font-size: 1.2rem;
}

.header__row-current-slidenumber {
  font-size: 0.9rem;
  opacity: 0.6;
}

.header__row-current img {
  margin: 0 10px;
}

.header__row-current-number {
  margin-top: 5px;
}

.header__slide {
  position: relative;
  margin-top: 150px;
  width: 100%;
}

.header__slide-item {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.header__slide-info,
.header__slide-img {
  width: 50%;
}

.header__slide-title {
  margin-bottom: 15px;
}

.header__slide-text {
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.94px;
  line-height: 1.4rem;
  letter-spacing: 0.94px;
  opacity: .6;
}

.header__slide-detaile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 150px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

.header__slide-detaile p {
  margin-right: 10px;
}

.header__slide-detaile img {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  -o-transition: transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.header__slide-detaile:hover {
  color: #fff;
}

.header__slide-detaile:hover img {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

.header__slide .slick-dots {
  top: 330px;
  left: 0;
  text-align: left;
}

.header__slide .slick-dots li {
  margin: 0 0;
  width: 90px;
  height: 2px;
  background: #fff;
  opacity: 0.25;
}

.header__slide .slick-dots .slick-active {
  opacity: 0.99;
}

/*========================= DIRECTOR ========================*/

.director {
  padding-top: 105px;
}

.director__info-title {
  margin-bottom: 32px;
}

.director__info-subtitle {
  margin-bottom: 10px;
}

.director__info-text {
  margin-bottom: 35px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.53;
}

.director__info-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.director__info-social-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #292929;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.director__info-social-item:hover {
  opacity: 0.8;
}

.director__img {
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.197464);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.197464);
}

.director__img-link {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.director__img-link:hover {
  opacity: 0.8;
}

/*============================ PROJECT ===========================*/

.project {
  margin-top: 105px;
  margin-bottom: 115px;
}

.project__title {
  margin-bottom: 115px;
}

.project__title span {
  font-family: "sf_ui_display", sans-serif;
  font-weight: 400;
}

.project__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 200px;
}

.project__item-number {
  margin-right: 20px;
  padding-top: 5px;
  min-width: 52px;
  min-height: 52px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #292929;
}

.project__item-title {
  margin-bottom: 8px;
}

.project__item-text {
  line-height: 1rem;
  font-size: 0.85rem;
  mix-blend-mode: normal;
  opacity: 0.35;
}

.project .button {
  margin-top: 90px;
  width: 300px;
}

/*============================ APPLICATION ===========================*/

.application {
  position: relative;
  padding: 80px 0;
  background: url("../img/beautiful_house_bg.png") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.application__img {
  position: absolute;
  display: block;
}

.application__img:first-child {
  left: 40%;
}

.application__img:nth-child(2) {
  top: 45%;
  left: 41%;
}

.application__title {
  margin-bottom: 40px;
  line-height: 42px;
  letter-spacing: -0.03px;
}

.application__subtitle {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: 1.19px;
}

.application__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}

.application__list-item p {
  color: #4B4B4B;
  font-size: 0.9rem;
  letter-spacing: -0.01px;
}

.application__list-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 13px;
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #292929;
}

.application__form {
  position: relative;
  padding: 45px 30px 30px 30px;
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.119509);
  box-shadow: 0px 2px 26px rgba(0, 0, 0, 0.119509);
  text-align: center;
}

.application__form-img {
  position: absolute;
  display: block;
  top: -54px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.application__form-title {
  margin-bottom: 5px;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.9px;
}

.application__form-subtitle {
  margin-bottom: 25px;
  font-size: 19px;
  font-weight: 300;
  color: #565656;
}

.application__form-item {
  margin-bottom: 20px;
  width: 100%;
  height: 45px;
  mix-blend-mode: normal;
  opacity: 0.82;
  -webkit-border-radius: 24px;
  border-radius: 24px;
}

.application__form-item::-webkit-input-placeholder {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: #1c1c1c;
  mix-blend-mode: normal;
  opacity: 0.37;
  text-align: center;
}

.application__form-item::-ms-input-placeholder {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: #1c1c1c;
  mix-blend-mode: normal;
  opacity: 0.37;
  text-align: center;
}

.application__form-item::placeholder {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: #1c1c1c;
  mix-blend-mode: normal;
  opacity: 0.37;
  text-align: center;
}

.application__form .person {
  background: #F4F4F4 url("../img/user.svg") 24px 50% no-repeat;
}

.application__form .phone {
  background: #F4F4F4 url("../img/phone.svg") 24px 50% no-repeat;
}

.application__form .button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.application__form-check {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  color: #1c1c1c;
  mix-blend-mode: normal;
  opacity: 0.37;
}

/*============================ PROJECTS ===========================*/

.projects {
  padding: 90px 0;
  padding-bottom: 70px;
}

.projects__title {
  margin-bottom: 65px;
}

.projects .tab-content > .tab-pane,
.projects .pill-content > .pill-pane {
  display: block;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.projects .tab-content > .active,
.projects .pill-content > .active {
  height: auto;
  overflow: visible;
}

.projects .nav {
  width: 100%;
  margin-bottom: 80px;
  border-bottom: none;
}

.projects .nav-item {
  width: 20%;
}

.projects .nav-link {
  padding: 0 0;
  padding-bottom: 10px;
  color: #1c1c1c;
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.3;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  border-bottom: 1px solid #1c1c1c;
}

.projects .nav-link:hover {
  opacity: 1;
  border: none;
  border-bottom: 1px solid #1c1c1c;
}

.projects .nav .active {
  opacity: 1;
  color: #1c1c1c;
  background: #fff;
  border: none;
  border-bottom: 1px solid #1c1c1c;
}

.projects__item {
  padding-bottom: 30px;
  min-height: 100px;
  background: #F9F9F9;
  -webkit-box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0797951);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.0797951);
}

.projects__item-row {
  position: relative;
}

.projects__slider {
  margin-bottom: 20px;
}

.projects__slider1 {
  position: relative;
  margin-bottom: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projects__slider1 .slick-slide {
  opacity: 0.6;
  border: 2px solid transparent;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.projects__slider1 .slick-slide:hover {
  opacity: 1;
}

.projects__slider1 .slick-center {
  border: 2px solid #000;
  opacity: 1;
}

.projects__slider1 .slick-arrow {
  width: 7px;
  height: 12px;
  background: url("../img/arrow_sm.svg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.projects__slider1 .slick-arrow:hover {
  opacity: 0.6;
}

.projects__slider1 .slick-next {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: rotate(180deg) translateY(7px);
  -ms-transform: rotate(180deg) translateY(7px);
  transform: rotate(180deg) translateY(7px);
}

.projects__slider1-item {
  margin: 0 5px;
}

.projects__info {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.projects__price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 16px;
}

.projects__price-item p:first-child {
  margin-bottom: 5px;
  color: #1c1c1c;
  opacity: 0.76;
  font-size: 0.8rem;
}

.projects__price-item p:nth-child(2) {
  color: #fba200;
  opacity: 1;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 0px 0px 24px rgba(85, 85, 85, 0.24499);
}

.projects__price-item p:nth-child(2) span {
  font-size: 1rem;
}

.projects__priceproject {
  color: #2A2A2A;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 0.8rem;
}

.projects__projectinfo {
  color: #2A2A2A;
  font-size: 0.65rem;
  line-height: 0.8rem;
}

.projects .button {
  margin-top: 30px;
  -webkit-box-shadow: 0px 0px 24px rgba(85, 85, 85, 0.24499);
  box-shadow: 0px 0px 24px rgba(85, 85, 85, 0.24499);
  width: 185px;
  margin-left: auto;
  margin-right: auto;
}

/*============================ CLIENT ===========================*/

.client {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px;
  background: url("../img/client_bg.png") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.client__title {
  margin-bottom: 50px;
  letter-spacing: -0.03px;
}

.client__slider {
  margin: 0 -15px;
}

.client__slider-item {
  margin: 0 16px;
  position: relative;
  min-height: 155px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.05);
}

.client__slider-item img {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.client__arrow {
  margin-top: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.client__arrow-left,
.client__arrow-right {
  position: relative;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.client__arrow-left img,
.client__arrow-right img {
  display: block;
  position: absolute;
  width: 10px;
  height: 18px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.client__arrow-left:hover img,
.client__arrow-right:hover img {
  opacity: 0.7;
}

.client__arrow-right img {
  -webkit-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
  -ms-transform: translate(-50%, -50%) rotate(180deg);
  transform: translate(-50%, -50%) rotate(180deg);
}

/*============================ FOOTER ===========================*/

/*============================ ANIMATION ===========================*/

@-webkit-keyframes blink {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  40% {
    -webkit-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
  }

  60% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes blink {
  0% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  40% {
    -webkit-transform: translateX(-50%) translateY(-10px);
    transform: translateX(-50%) translateY(-10px);
  }

  60% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }

  80% {
    -webkit-transform: translateX(-50%) translateY(10px);
    transform: translateX(-50%) translateY(10px);
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(0);
    transform: translateX(-50%) translateY(0);
  }
}

/*============================ ПРОЕКТЫ ============================*/

/*========================= ТИПОВЫЕ ПРОЕКТЫ =======================*/

/*======================== КАРТОЧКА ПРОЕКТА ========================*/

/*============================ УСЛУГИ ============================*/

/*==========================МЕДИА-запросы==========================*/

@media (min-width: 1200px) {
  .container {
    max-width: 1170px !important;
  }
}

@media only screen and (max-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.4rem;
    line-height: 3rem;
  }

  .project__item {
    height: 150px;
  }

  .application__title {
    font-size: 2rem;
  }

  .application__form-title {
    font-size: 1.4rem;
  }

  .projects__info {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  h1,
  .h1 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }

  .header__nav-item {
    margin: 0 5px;
  }

  .header__slidecontrol {
    bottom: 50px;
  }

  .director__info {
    margin-bottom: 30px;
  }

  .projects .nav-link {
    font-size: 0.6rem;
  }

  .projects__item {
    margin-bottom: 30px;
  }

  .projects__info {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__row-current {
    top: 590px;
    left: 300px;
  }

  .header__slide-item {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__slide-info,
  .header__slide-img {
    width: 100%;
  }

  .header__slide-info {
    margin-bottom: 40px;
  }

  .header__slide .slick-dots {
    top: 600px;
  }

  .header__slide .slick-dots li {
    width: 70px;
  }

  .project__item {
    height: 120px;
  }

  .project .button {
    margin-top: 30px;
  }

  .application__img {
    display: none;
  }

  .application__list {
    margin-bottom: 60px;
  }

  .projects .nav {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .projects .nav-item {
    width: 50%;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 576px) {
  .director__info-title {
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  .director__info-subtitle {
    font-size: 1.28rem;
  }

  .project__title {
    font-size: 1.6rem;
  }
}