/*============================ HEADER ===========================*/
.header
	position: relative	
	background: #000
	color: #fff
	&__fixed
		padding-top: 30px 
		padding-bottom: 30px 
		width: 100%
		z-index: 300
	&__menu
		position: relative
		display: flex
		justify-content: space-between
		align-items: center
		margin-bottom: 3px
	&__logo
		margin-top: -5px
		+r(480)
			margin-top: -8px
			img
				width: 100px
				height: 44px
			&-text
				margin-left: 2px
				margin-top: 2px
				color: #ffffff
				font-size: 0.4rem
		img
			width: 121px
			height: 50px
		&-text			
			margin-left: 2px
			margin-top: 4px
			color: #ffffff
			font-size: 0.55rem
			font-weight: 700
			letter-spacing: 2.5px
			text-transform: uppercase
		&:hover &-text
			color: #fff
	&__nav
		display: flex
		align-items: center
		margin-left: 60px
		margin-top: 5px
		&-burger
			display: none
			position: relative
			margin-right: 10px
			width: 30px
			height: 20px
			cursor: pointer
			transition: transform .3s
			z-index: 300
			span
				display: inline-block
				position: absolute
				width: 30px
				height: 2px
				left: 0
				background: #fff
				border-radius: 1px
				transition: transform .3s linear
				&:nth-child(2)
					top: 8px
				&:last-child
					bottom: 1px
			+r(768)
				display: block
		&-box
			display: flex
			+r(768)
				display: none
				position: absolute
				padding-top: 10px
				width: 100%
				left: 0
				top: 100%
				text-align: center
												
		&-item
			margin: 0 35px
		+r(1200)
			margin-left: 0
		+r(992)
			&-item
				margin: 0 5px
		+r(768)
			&-item
				position: relative
				padding: 10px 0	
				z-index: 100	
		&-link
			position: relative
			color: #fff
			font-size: 0.9rem
			font-weight: 700
			letter-spacing: 0.2px
			transition: color .3s
			&:after
				+pseudo
				width: 0
				height: 1px
				bottom: -4px
				left: 50%
				background: $orange
				border-radius: 2px
				transform: translateX(-50%) 
				transition: width .3s			
			&:hover
				color: $orange
			&:hover::after
				width: 100%
		&-row
			display: flex
			align-items: center
	&__button
		position: relative
		width: 195px
		background: linear-gradient(100deg, rgb(252, 155, 52) 0%, rgb(236, 134, 26) 100%)
		z-index: 1
		p
			margin-left: 5px
		&:before
			+pseudo
			width: 195px
			height: 100%
			left: 50%
			top: 50%
			transform: translate(-50%, -50%)
			border-radius: 22px
			background: linear-gradient(100deg, rgb(252, 155, 52) 0%, rgb(236, 134, 26) 100%)
			z-index: -1
			animation: pulse 1s ease-in-out infinite
		+r(480)
			width: 130px
			font-size: 0.6rem
	&__slidecontrol
		display: flex
		position: absolute
		left: 0
		bottom: 110px
		+r(992)
			bottom: 50px
		+r(480)
			bottom: 25px
	&__arrow
		margin: 0 10px
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		height: 40px
		border-radius: 50%
		background: rgba(#fff, 0.4)
		opacity: 0.4 
		transition: opacity .3s
		cursor: pointer
		&:hover
			opacity: 0.7
			
	&__row
		position: relative
		padding-bottom: 198px
		min-height: 557px
		+r(768)
			min-height: 767px
		&-current
			position: absolute
			display: flex
			align-items: flex-start
			top: 300px
			left: 355px
			font-size: 1.2rem
			+r(768)
				top: 590px
				left: 300px
			+r(480)
				left: 180px
			&-slidenumber
				font-size: 0.9rem
				opacity: 0.6
			img
				margin: 0 5px
			&-number
				margin-top: 5px
	&__slide
		position: relative
		margin-top: 150px
		width: 100%
		&-row
			display: none
			&:first-child
				display: block
		&-item
			display: flex!important
			align-items: flex-start
			+r(768)
				flex-wrap: wrap
		&-info, &-img
			width: 50%
			+r(768)
				width: 100%
		&-info
			+r(768)
				margin-bottom: 40px
		&-title
			margin-bottom: 10px
		&-text
			margin-bottom: 35px
			font-size: 1rem
			font-weight: 300
			letter-spacing: 1.5px
			line-height: 1.4rem
			opacity: .6
		&-detaile
			display: flex
			align-items: center
			max-width: 150px
			color: #fff
			font-size: 0.9rem
			font-weight: 600
			p
				margin-right: 20px
			img
				transition: transform .3s
			&:hover
				color: #fff
			&:hover img 
				transform: translateX(10px) 
		.slick-dots 
		    top: 310px
		    left: 0
		    text-align: left
		    +r(768)
		    	top: 600px
		    li
		    	margin: 0 0
		    	width: 85px
		    	height: 2px
		    	background: #fff
		    	opacity: 0.25
		    	+r(768)
		    		width: 70px
		    	+r(480)
		    		width: 40px
		    .slick-active
		    	opacity: 0.99