/*============================ PROJECT ===========================*/
.project
	margin-top: 105px
	margin-bottom: 115px
	&__title
		margin-bottom: 115px
		span
			font-family: $default-font
			font-weight: 400
		+r(576)
			font-size: $h4 * 0.8
	&__item
		display: flex
		align-items: flex-start
		height: 200px
		cursor: pointer
		&:hover &-number
			background: $orange
		&:hover &-title
			color: $orange
		+r(1200)
			height: 150px
		+r(768)
			height: 120px
		&-number
			margin-right: 20px
			padding-top: 5px
			min-width: 52px
			min-height: 52px
			display: flex
			justify-content: center
			align-items: center 
			color: #fff
			font-size: 1.8rem
			font-weight: bold
			border-radius: 50%
			background: $maindark
			transition: background .3s
		&-title
			margin-bottom: 8px
			transition: color .3s
		&-text
			line-height: 1rem
			font-size: 0.85rem
			mix-blend-mode: normal
			opacity: 0.35
	&__button
		margin-top: 90px
		width: 300px
		height: 46px
		border-radius: 23px
		transition: background .3s
		&:hover
			background: $orange
		+r(768)
			margin-top: 30px