section.application
	img.application__img(src="img/paper.png", alt="Лист")
	img.application__img(src="img/fan.png", alt="Веер")
	.container
		.row.align-items-center
			.col-lg-4.col-md-6.wow.bounceInLeft
				h2.application__title Получите<br>представление<br>о строительстве.
				p.application__subtitle ВЫ ПОЛУЧИТЕ:
				ul.application__list
					li.application__list-item
						.application__list-check
							img(src="img/check.svg", alt="Check")
						p Предварительный вариант сметы
					li.application__list-item
						.application__list-check
							img(src="img/check.svg", alt="Check")
						p Советы по выбору материалов
					li.application__list-item
						.application__list-check
							img(src="img/check.svg", alt="Check")
						p Перечень проверенных поставщиков
					li.application__list-item
						.application__list-check
							img(src="img/check.svg", alt="Check")
						p Примерный срок работ
			.col-lg-4.offset-lg-3.col-md-6.offset-md-0.wow.bounceInRight
				form.application__form
					img.application__form-img(src="img/clips.png", alt="Клипса")
					p.application__form-title ОСТАВЬТЕ ЗАЯВКУ
					p.application__form-subtitle и мы вам перезвоним!
					input.application__form-item.person(type="text", name="name", placeholder="Введите ваше имя")
					input.application__form-item.phone(type="tel", name="tel", placeholder="Введите ваш телефон")
					button.button.application__form-button(type="submit") ПОЛУЧИТЬ КОНСУЛЬТАЦИЮ
					label.application__form-check
						input(type='checkbox')
						|  Согласен с политикой конфиденциальности

