section.carditem
	.container
		.row
			.col-12
				h4.carditem__title Дома по данному проекту.
			.col-12
				.carditem__slider
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto1.png", alt="Дом")
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto2.png", alt="Дом")
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto3.png", alt="Дом")
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto1.png", alt="Дом")
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto2.png", alt="Дом")
					.carditem__slider-item
						img.img-responsive(src="img/instagramfoto3.png", alt="Дом")
			.col-12
				.carditem__arrow
					.carditem__arrow-left
						img(src="img/arrow_sm.svg", alt="Стрелка")
					.carditem__arrow-right
						img(src="img/arrow_sm.svg", alt="Стрелка")