section.carddata
	.container
		.row.justify-content-center
			.col-md-8.col-sm-12
				.carddata__img
					.carddata__slider
						.carddata__slider-item
							img.img-responsive(src="img/k13101_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13102.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13103_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13105_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13101_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13102.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13103_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13105_sm.png", alt="Дом")
					.carddata__slider1
						.carddata__slider-item
							img.img-responsive(src="img/k13101_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13102_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13103_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13105_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13101_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13102_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13103_sm.png", alt="Дом")
						.carddata__slider-item
							img.img-responsive(src="img/k13105_sm.png", alt="Дом")
			.col-lg-4.col-md-8.col-sm-12
				.carddata__info
					h4.carddata__info-title Проект дома 131м.
					p.carddata__info-text Габариты дома: 
						span 9,47 x 10,48
					p.carddata__info-text Количество этажей: 
						span 2
					p.carddata__info-text Фундамент: 
						span ленточный, из сборных ж/б блоков по монолитной подушке
					p.carddata__info-text Материал стен: 
						span (кирпич поризованный 380мм, термопанель с клинкерной плиткой 70мм)
					p.carddata__info-text Перекрытия: 
						span Перекрытия: сборные железобетонные с монолитными участками
					p.carddata__info-text Крыша: 
						span скатная
					p.carddata__info-text Кровля: 
						span металлочерепица
					p.carddata__info-text Фасад: 
						span клинкерная плитка
					.carddata__price
						.carddata__price-item.metr
							p ПЛОЩАДЬ:
							p 133 
								span м
						.carddata__price-item.rub
							p СТОИМОСТЬ ПОСТРОЙКИ:
							p 3 275 000 
								span руб
					p.carddata__priceproject Стоимость проекта 45 000 руб.
					p.carddata__projectinfo В стоимость входит коробка дома, окна, отделка фасада.
					p.carddata__projectinfo Подробную информацию уточните у наших менеджеров.