section.client
	.container
		.row
			.col-12
				h4.client__title.wow.slideInUp Наши клиенты
					span.dot .
			.col-12
				.client__slider
					.client__slider-item
						img(src="img/client1.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client2.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client3.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client4.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client1.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client2.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client3.png", alt="Клиенты")
					.client__slider-item
						img(src="img/client4.png", alt="Клиенты")
			.col-12
				.client__arrow
					.client__arrow-left
						img(src="img/arrow_sm.svg", alt="Стрелка")
					.client__arrow-right
						img(src="img/arrow_sm.svg", alt="Стрелка")