block variables
section#comment(class=(page === "index" ? "comment index" : "comment"))
	.container
		.row
			.col-12
				h4.comment__title.wow.slideInUp Отзывы
					span.dot .
			.col-12
				.comment__slider
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")
					.comment__item
						.comment__item-img
							img.img-responsive(src="img/clientfoto.png", alt="Клиент")
						p.comment__item-name Иванов Иван
						p.comment__item-date 18 февраля
						p.comment__item-text Когда наш дизайнер сделал нужные замеры уже построенного дома, то была крайне удивленаточностью, с которой совпадало то, что было написано в планах дома и ее личные замеры. Этобыло после. До этого была дорога длиной в год, во время которого был построен кирпичный дом(280 квадратных метров) и не было ни одного нарекания.  Я очень опасался, потому что…<br> 
						a.comment__item-link(href="#") Читать полностью…
						p.comment__item-social
							a.comment__item-social-icon.comment__item-social-facebook(href="#")
								img(src="img/face_color.svg", alt="Социальные")
							a.comment__item-social-icon.comment__item-social-instagram(href="#")
								img(src="img/instagram_color.svg", alt="Социальные" width="14px")