section.director
	.container
		.row.align-items-center
			.col-lg-6.col-md-12
				.director__info
					h4.director__info-title Видео обращение директора.
					h5.director__info-subtitle Иванов Иван Иванович
					p.director__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
					.director__info-social
						a.director__info-social-item.director__info-social-vk(href="#")
							img(src="img/vk.svg", alt="Social")
						a.director__info-social-item.director__info-social-telegram(href="#")
							img(src="img/telegram.svg", alt="Social")
						a.director__info-social-item.director__info-social-instagram(href="#")
							img(src="img/instagram.svg", alt="Social")
			.col-lg-6.col-md-12
				.director__img
					img.img-responsive(src="img/video.png", alt="Дом")
					a.director__img-link(href="#")
						img(src="img/youtube.svg", alt="Youtube")
