footer.footer
	.container
		.row
			.footer__text
				p Copyright © 2019 «iDo group».
				p Все права защищены и охраняются законом.
		.row
			a.footer__link(href="#") Политика конфедициальности 