header.header
	.container
		.row
			.col
				.header__menu
					a.header__logo(href="main.html")
						img(src="img/logo.svg", alt="Логотип")
						p.header__logo-text Делаем как надо.
					nav.header__nav
						.header__nav-burger
							span
							span
							span
						ul.header__nav-box
							li.header__nav-item
								a.header__nav-link(href="#about") Главная
							li.header__nav-item
								a.header__nav-link(href="#advantage") Наш Instagram
							li.header__nav-item
								a.header__nav-link(href="#income") Проекты
							li.header__nav-item
								a.header__nav-link(href="#income") Отзывы
					button.button
						img(src="img/icon-phone.svg", alt="Трубка")
						p ОБРАТНЫЙ ЗВОНОК
	.container
		.row
			.col
				.header__row
					.header__row-current
							p.header__row-current-slidenumber 01
							img(src="img/slash.svg", alt="Слэш")
							p.header__row-current-number 04
					.header__slide
						.header__slide-item
							.header__slide-info
								h1.header__slide-title Создаем дома в Москве и области.
								p.header__slide-text Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.
								a.header__slide-detaile(href="#")
									p Подробнее
									img(src="img/icons-right.svg", alt="Стрелка")
							.header__slide-img
								img.img-responsive(src="img/house1.png", alt="Дом")
						.header__slide-item
							.header__slide-info
								h1.header__slide-title Создаем дома в Москве и области.
								p.header__slide-text Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.
								a.header__slide-detaile(href="#")
									p Подробнее
									img(src="img/icons-right.svg", alt="Стрелка")
							.header__slide-img
								img.img-responsive(src="img/house2.png", alt="Дом")
						.header__slide-item
							.header__slide-info
								h1.header__slide-title Создаем дома в Москве и области.
								p.header__slide-text Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.
								a.header__slide-detaile(href="#")
									p Подробнее
									img(src="img/icons-right.svg", alt="Стрелка")
							.header__slide-img
								img.img-responsive(src="img/house3.png", alt="Дом")
						.header__slide-item
							.header__slide-info
								h1.header__slide-title Создаем дома в Москве и области.
								p.header__slide-text Фиксированные цены и сроки.<br> Финансовая прозрачность<br> на ваших условиях.
								a.header__slide-detaile(href="#")
									p Подробнее
									img(src="img/icons-right.svg", alt="Стрелка")
							.header__slide-img
								img.img-responsive(src="img/house4.png", alt="Дом")