section.homeproject
	.homeproject__block
		.container
			.row.align-items-center
				.col-md-6
					.homeproject__info
						h4.homeproject__info-title.wow.slideInUp Проекты домов
							span.dot .
						p.homeproject__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
						a.button.homeproject__info-button(href="projectbox.html") Смотреть 
				.col-md-6
					.homeproject__img
						img.img-responsive(src="img/project1.png", alt="Дом")
	.homeproject__block.homeproject__block-right
		.container
			.row.align-items-center
				.col-md-6
					.homeproject__img
						img.img-responsive(src="img/project1.png", alt="Дом")
				.col-md-6
					.homeproject__info
						h4.homeproject__info-title.wow.slideInUp Общественные здания
							span.dot .
						p.homeproject__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
						a.button.homeproject__info-button(href="projectbox.html") Смотреть 				
	.homeproject__block
		.container
			.row.align-items-center
				.col-md-6
					.homeproject__info
						h4.homeproject__info-title.wow.slideInUp Таунхаусы
							span.dot .
						p.homeproject__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
						a.button.homeproject__info-button(href="projectbox.html") Смотреть 
				.col-md-6
					.homeproject__img
						img.img-responsive(src="img/project3.png", alt="Дом")
	.homeproject__block.homeproject__block-right
		.container
			.row.align-items-center
				.col-md-6
					.homeproject__img
						img.img-responsive(src="img/project4.png", alt="Дом")
				.col-md-6
					.homeproject__info
						h4.homeproject__info-title.wow.slideInUp Гаражи и бани
							span.dot .
						p.homeproject__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
						a.button.homeproject__info-button(href="projectbox.html") Смотреть 
	.homeproject__block
		.container
			.row.align-items-center
				.col-md-6
					.homeproject__info
						h4.homeproject__info-title.wow.slideInUp VIP-Усадьбы
							span.dot .
						p.homeproject__info-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. 
						a.button.homeproject__info-button(href="projectbox.html") Смотреть 
				.col-md-6
					.homeproject__img
						img.img-responsive(src="img/project5.png", alt="Дом")