section#instagram.instagram
	.container
		.row
			.col-12
				h4.instagram__title.wow.slideInUp Мы в Instagram
					span.dot .
				a.instagram__link(href="#")
					img(src="img/instagram1.svg", alt="Инстаграм")
					span ido.group
		.row
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto1.png", alt="Фото")
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto2.png", alt="Фото")
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto3.png", alt="Фото")
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto4.png", alt="Фото")
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto5.png", alt="Фото")
			.col-lg-4.col-md-6.col-sm-12
				a.instagram__item(href="#")
					img.img-responsive(src="img/instagramfoto6.png", alt="Фото")
		.row
			.col.d-flex.justify-content-center
				a.button.instagram__button(href="service.html") СМОТРЕТЬ ВСЕ