section#map.map
	.map__row
		.map__block
			.map__info
				p.map__info-title НАШИ КОНТАКТЫ
				p.map__info-office Центральный офис
				p.map__info-adress ул.Арбат, 1а, Москва
				p.map__info-adress 119019, Россия
			a.map__link(href="#") info@mysite.ru