section.projectlist
	.container
		.row
			.col
				h4.projectlist__title Проекты домов.
		.row
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ
			.col-lg-4.col-md-12
				.projects__item.projectlist__item
					.projects__item-row
						.projects__slider
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13301.png", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13302.jpg", alt="Дом")
							.projects__slider-item
								img.img-responsive(src="img/k13303.jpg", alt="Дом")
						.projects__slider1
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13301_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13302_sm.png", alt="Дом")
							.projects__slider1-item
								img.img-responsive(src="img/k13303_sm.png", alt="Дом")
					.projects__info
						.projects__price
							.projects__price-item.metr
								p ПЛОЩАДЬ:
								p 133 
									span м
							.projects__price-item.rub
								p СТОИМОСТЬ ПОСТРОЙКИ:
								p 3 275 000 
									span руб
						p.projects__priceproject Стоимость проекта 45 000 руб.
						p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
						p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
						a.button.projects__button(href='projectcard.html') ПОДРОБНЕЕ