section.project
	.container
		.row
			.col
				h4.project__title.wow.slideInUp Выберите готовый проект-<br>
					span остальное мы сделаем сами
					span.dot .
		.row.align-items-center
			.col-xl-3.col-lg-4.col-md-6
				.project__state
					.project__item.wow.bounceInLeft
						.project__item-number
							span 1
						.project__item-info
							h6.project__item-title ВСЕ ВКЛЮЧЕНО
							p.project__item-text В стоимость входит все, чтобы Ваш дом был построенбез дополнительных затрат. Учтено все: материалы,доставка, работа, механизмы и транспорт, размещение рабочих. 
					.project__item.wow.bounceInLeft
						.project__item-number
							span 2
						.project__item-info
							h6.project__item-title ЦЕНА НЕ ИЗМЕНИТСЯ
							p.project__item-text Стоимость строительства фиксируется при заключении договора, и неизменится ни при каких обстоятельствах.
					.project__item.wow.bounceInLeft
						.project__item-number
							span 3
						.project__item-info
							h6.project__item-title СРОКИ ФИКСИРОВАНЫ
							p.project__item-text Здание будет сдано в срок. Всегда. Срок строительства от 2-х до 6 месяцев,в зависимости от проекта. Вы можете получать ежедневный отчет о ходе строительства.
			.col-xl-6.col-lg-4.d-none.d-lg-block
				.project__img
					img.img-responsive(src="img/house5.png", alt="Дом")
			.col-xl-3.col-lg-4.col-md-6
				.project__state
					.project__item.wow.bounceInRight
						.project__item-number
							span 4
						.project__item-info
							h6.project__item-title ФИНАНСОВАЯ ПРОЗРАЧНОСТЬ
							p.project__item-text Вы можете контролировать расходы Ваших средств он-лайн, 24 часа. Вы всегда будете видеть отчеты о закупках материалов и прочих затратах на вашем обьекте. 
					.project__item.wow.bounceInRight
						.project__item-number
							span 5
						.project__item-info
							h6.project__item-title КАЧЕСТВО ВНЕ СОМНЕНИЙ
							p.project__item-text Все применяемые материалы имеют сертификаты и фиксируются в отчетах. Каждый этап контролируется авторским и техническим надзором, они всегда включены в стоимость.
					.project__item.wow.bounceInRight
						.project__item-number
							span 6
						.project__item-info
							h6.project__item-title ВАШ ПЕРСОНАЛЬНЫЙ АРХИТЕКТОР
							p.project__item-text Вам не нужно общаться ни с кем со строительной площадки или офиса. за Вашим обьектом закреплен Ваш персональный архитектор. Он ответит на все интересующие вопросы. Всегда. 24 часа в сутки.
		.row
			.col.d-flex.justify-content-center
				button.button.project__button СМОТРЕТЬ ГОТОВЫЕ ПРОЕКТЫ
