section.projects
	.container
		.row
			.col
				h4.projects__title Проекты.
				.projects__tab
					ul.nav.nav-tabs(role="tablist")
						li.nav-item
							a.nav-link.active(href='#house', data-toggle="tab", role="tab") ПРОЕКТЫ ДОМОВ
						li.nav-item
							a.nav-link(href='#citizenhoume', data-toggle="tab", role="tab") ОБЩЕСТВЕННЫЕ ЗДАНИЯ
						li.nav-item
							a.nav-link(href='#townhouse', data-toggle="tab", role="tab") ТАУНХАУСЫ
						li.nav-item
							a.nav-link(href='#garazh', data-toggle="tab", role="tab") ГАРАЖИ И БАНИ
						li.nav-item
							a.nav-link(href='#vip', data-toggle="tab", role="tab") VIP УСАДЬБЫ
					.tab-content
						#house.tab-pane.active(role='tabpanel', aria-labelledby='house-tab')
							.row
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
						#citizenhoume.tab-pane(role='tabpanel', aria-labelledby='citizenhoume-tab')
							.row
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров. 
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
						#townhouse.tab-pane(role='tabpanel', aria-labelledby='townhouse-tab')
							.row
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров. 
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
						#garazh.tab-pane(role='tabpanel', aria-labelledby='garazh-tab')
							.row
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров. 
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
						#vip.tab-pane(role='tabpanel', aria-labelledby='vip-tab')
							.row
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров. 
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
								.col-lg-4.col-md-12
									.projects__item
										.projects__item-row
											.projects__slider
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13301.png", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13302.jpg", alt="Дом")
												.projects__slider-item
													img.img-responsive(src="img/k13303.jpg", alt="Дом")
											.projects__slider1
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13301_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13302_sm.png", alt="Дом")
												.projects__slider1-item
													img.img-responsive(src="img/k13303_sm.png", alt="Дом")
										.projects__info
											.projects__price
												.projects__price-item.metr
													p ПЛОЩАДЬ:
													p 133 
														span м
												.projects__price-item.rub
													p СТОИМОСТЬ ПОСТРОЙКИ:
													p 3 275 000 
														span руб
											p.projects__priceproject Стоимость проекта 45 000 руб.
											p.projects__projectinfo В стоимость входит коробка дома, окна, отделка фасада. 
											p.projects__projectinfo Подробную информацию уточните у наших менеджеров.
											a.button.projects__button(href='typeprojects.html') ПОДРОБНЕЕ
