doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Ibo
	body
		//HEADER
		include layout/header.pug

		//MAIN
		main.main

		//FOOTER
		include layout/footer.pug

		//SCRIPT
		include layout/scripts.pug



	