doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Ibo
	body
		//HEADER
		include layout/header.pug

		//MAIN
		main.main

			//DIRECTOR
			include layout/director.pug

			//PROJECT
			include layout/project.pug

			//APPLICATION
			include layout/application.pug

			//PROJECTS
			include layout/projects.pug

			//CLIENT
			include layout/client.pug

		//FOOTER
		include layout/footer.pug

		//SCRIPT
		include layout/scripts.pug



	