doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Type Projects
	body
		//HEADER
		include layout/header1.pug

		//MAIN
		main.main

			//HOMEPROJECT
			include layout/homeproject.pug

			//APPLICATION
			include layout/application.pug

			//COMMENT
			include layout/comment.pug

			//MAP
			include layout/map.pug

		//FOOTER
		include layout/footer.pug

		//SCRIPT
		include layout/scripts.pug